<section id="about-us" class="content-section">
    <div class="text-center">
        <h2 class="section-heading">About Us</h2>
    </div> 
    <div class="columns" style="max-width: 1200px;">
        <div class="column">
            <img src="{{site.baseurl}}/img/sad-girls.jpeg" alt="Image 1" class="column-image">
            <h2 class="column-title">Brian Curry</h2>
            <p class="column-description">Bio</p>
        </div>
        <div class="column">
            <img src="{{site.baseurl}}/img/sad-girls.jpeg" alt="Image 2" class="column-image">
            <h2 class="column-title">Barbara Curry</h2>
            <p class="column-description">Bio</p>
        </div>
        <div class="column">
            <img src="{{site.baseurl}}/img/sad-girls.jpeg" alt="Image 3" class="column-image">
            <h2 class="column-title">Trudy Fuher</h2>
            <p class="column-description">
                Bio
            </p>
        </div>
    </div>
</section>
