<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="page-scroll" href="#page-top"><img style="max-width: 200px; height: auto;" src="{{site.baseurl}}/img/logos/sarahlogoinverted.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">SARAH APP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#science-first">Science</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about-us">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">For Investors</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faq">FAQ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <!-- <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Support | Assess | Respond | Adapt | Heal</div>
                <div class="intro-heading">S.A.R.A.H.</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header> -->
    <!-- <div class="hero"> -->
        <div class="hero banner flex hundred relative sm-flex-column sm-flex-wrap">
            <div class="img-container bg-center fifty sm-hundred relative" style="background-image: url('{{site.baseurl}}/img/aaron-burden-bg-cropped.jpg');">
                <div class="overlay absolute sm-block full hundred"></div>
                <div class="absolute z-index-1 hero-title">
                    <h1>Your Personal Guide Through Mental Wellness</h1>
                    <div class="buttons-container">
                        <a class="btn" href="#">Download for iOS</a>
                        <a class="btn" href="#">Download for Android</a>
                    </div>
                </div>
            </div>
            <div class="text-container fifty sm-hundred">
                <div class="inner height-100 justify-center flex z-index-1 relative animated fadeInRight" data-animation="fadeInRight">
                    <div class="floating-logo">
                        <img class="head-logo" src="{{site.baseurl}}/img/mobile-app-splash.png" alt="">
                    </div>
                </div>
            </div>
            <div class="bg-overlay absolute full hundred sm-hide"></div>
        </div>
    <!-- </div> -->

