<section class="content-section">
    <div class="text-center">
        <h2 class="section-heading">Who is SARAH for?</h2>
    </div> 
    <div class="columns">
        <div class="column">
            <img src="{{site.baseurl}}/img/sad-tree-girl.jpeg" alt="Image 1" class="column-image">
            <h2 class="column-title"><i>Individuals</i></h2>
            <p class="column-description">Anyone struggling with suicidal thoughts, feeling trapped in a cycle of despair, and under the weight of ongoing stress.</p>
        </div>
        <div class="column">
            <img src="{{site.baseurl}}/img/sad-girls.jpeg" alt="Image 2" class="column-image img-big">
            <h2 class="column-title"><i>Champions</i></h2>
            <p class="column-description">Close friends, family members, pastors, youth leaders, doctors, or any other person designated by an individual and acts as a "champion" to cheer them on and keep them accountable in their commitment to mental health wellness.</p>
        </div>
    </div>
</section>
<style>

.content-section {
    padding: 120px 20px;
    background-color: #935ea6;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    margin-top: 40px;
    align-items: center;
}

.column-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
}

.column-image.img-big {
    max-width: 350px;
}

.column-title {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
}

.column-description {
    font-size: 1em;
    color: #333;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 0 30px;
}
</style>