/* Fix for white bar on mobile */
.flex {
    display: flex;
}

html {
    overflow-x: hidden;
}

.fifty {
    width: 50%;
}

.container {
    overflow-x: hidden;
}

.bg-overlay {
    background: linear-gradient(to right,rgba(34, 34, 34,0) 0,rgba(34, 34, 34,0) 15%,#1b99cf 50%,#1b99cf 100%,#1b99cf 100%)
}

h1 {
    color: white;
    line-height: 1.5;
}

.justify-center {
    justify-content: center;
}

.floating-logo {
    max-width: 320px;
    width: 100%;
    position: absolute;
    bottom: -9%;
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.3);
}

.hero-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 40px;
}

.absolute {
    position: absolute;
}

.height-100 {
    height: 100%;
}

.hero {
    position: relative;
    height: 900px;
}

.bg-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-logo {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    border-radius: 20px;
}

.split-section h2 {
    margin-bottom: 30px;
}

.full.absolute {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}
.text-center {
    text-align: center;
}

.z-index-1 {
    z-index: 1;
}

.split-section {
    display: flex;
}

.image-container, .text-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.text-container h1 {
    font-size: 2em;
    margin: 0 0 20px 0;
}

.text-container p {
    font-size: 1em;
    line-height: 1.6;
}


.faq-section {
    max-width: 800px;
    margin: 20px auto;
}

.faq {
    margin-bottom: 10px;
}

.faq-button {
    background-color: #222;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
    outline: none;
    position: relative;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 15px;
    background-color: #f1f1f1;
    border-radius: 0 0 5px 5px;
}

.faq-content p {
    margin: 15px 0;
}

.img-dimensions {
    width: 600px;
    height: 400px 
}


.content-section {
    padding: 120px 0px 20px 20px;
    /* background-color: #935ea6; */
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    width: 100%;
    margin-top: 40px;
    align-items: center;
}

.column-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 300px;
    margin: 0 auto 20px;
}

.column-image.img-big {
    max-width: 350px;
}

.column-title {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
}

.column-description {
    font-size: 1em;
    color: #333;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 0 30px;
}

section h2.section-heading {
    max-width: 1200px; 
    margin: 0 auto 40px;
}

#services.section-padding {
    padding: 80px;
}

@media(max-width: 1920px) {
    .hero {
        height: 700px;
        margin-bottom: 80px;
    }
}

@media(max-width: 767px) {
    .split-section {
        flex-direction: column;
    }

    .sm-order-1 {
        order: 1;
    }

    .sm-order-2 {
        order: 2;
    }

    .img-dimensions {
        width: 100%;
        height: auto 
    }

    .hero {
        height: 500px;
    }
}

@media(max-width: 550px) {
    .bg-overlay {
        display: none;
    }

    .sm-flex-column {
        flex-direction: column;
    }

    .hero .img-container {
        height: 500px;
        width: 100%;
    }

    .hero h1 {
        text-align: center;
        margin-top: 50px;
        font-size: 28px;
    }

    .hero .text-container {
        width: 100%;
    }

    .hero .inner {
        width: 100%;
        height: auto;
    }

    .hero .floating-logo {
        max-width: 200px;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -150px;
    }

    .hero {
        margin-top: 80px;
    }

    .hero .hero-title {
        top: 30%;
    }

    .hero .buttons-container {
        text-align: center;
    }

    .navbar-header {
        height: 80px;
    }

    #services {
        margin-top: 250px;
    }

    .content-section {
        padding: 60px 15px;
    }

    .content-section .columns {
        flex-direction: column;
    }

    .content-section .column {
        margin-bottom: 40px;
    }

    .section-padding {
        padding: 60px 0;
    }

    section h2.section-heading {
        font-size:28px;
        margin-bottom: 15px;
    }

    .sm-hundred {
        width: 100%;
    }

    .sm-order-1 {
        order: 1;
    }

    .sm-order-2 {
        order: 2;
    }

    .faq {
        padding: 0 15px;
        text-align: center;
    }

    .faq-button {
        text-align: center;
    }
}